@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:wght@400;600&family=Roboto&display=swap');
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #b1aeaece ;
    border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
    background-color: #0a0a0a;
    border-radius: 20px;
}
.nav {
    grid-area: nav;
    z-index: 2;
    background-color: #0a0a0a;
    color: white;
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}  
.nav h1 {
    font-family: 'Chewy', serif;
    font-weight: 400;
    margin: 0;
} 
.brand {
    display: flex;

    & img {
        width: 30px;
    }
}
.hamburger {
    display: block;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}  
#menu-toggle {
    display: none;
}  
.menu {
    list-style: none;
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 2em;
    padding: 1em;
}
.menu a {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}
li a {
    padding: 1em;
    width: 100%;
}
li a:hover, .product button:hover {
opacity: 1;
}
a i {
    font-size: 1.5em;
    padding: .5em;
}
#menu-toggle:checked+.hamburger+.menu {
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
    gap: 2em;
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    padding: 1em;
}
section {
    grid-area: section;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f9f9f9;
    
    h2 {
        margin-top: 15px;
        text-align: center;
    }
    & .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        gap: 50px;
        margin: 20px 30px 50px 30px;
    }
    
}
.card {
    min-width: 270px;
    max-height: 270px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 20px 20px 0;
    padding-bottom: 20px;
    
    & h4 {
        font-size: 1.2rem;
        opacity: 0.7;
        margin-top: 30px;
    }

}
article {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    transition: all 0.5s ease;
}
.img-fondo {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
.img-transp {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 110%;
    object-fit: contain;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(15%);
    transition: 0.3s ease;
    opacity: 0;
}
.card:hover h4 {
    opacity: 1;
}
.card:hover .img-overlap {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: perspective(500px) rotateX(5deg) translateY(-5%) translateZ(0);
}
.img-overlap::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 10%,
        rgba(0, 0, 0, 0.5) 50%,
        rgb(36, 34, 34) 95%
    );
    opacity: 0;
    transition: all 0.3s ease;
}
.card:hover .img-overlap::before {
    opacity: 1;
}
.card:hover .img-transp{
    opacity: 1;
    transform: translateY(7%);
}
.img-grayscale {
    filter: grayscale(100%);
}
.card:hover .img-grayscale {
    filter: grayscale(0%);
}
.card:hover .hide {
    animation: hide 0.5s ease-in-out alternate both; 
}
.card:hover .reveal {
    animation: reveal 1s ease alternate both;
}
@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    grid-area: footer;
    background-color: #0a0a0a;
}
footer div {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 4px 30px;
    gap: 5px;
    color: #fff2e4;
    font-weight: 600;
    
    & div {
        padding: 0;
    }

    & button {
        background-color: transparent;
        color: #fff;
        border: none;
        padding-top: 7px;
    }
    & button:hover {
        opacity: 70%;
    }
    & svg {
        cursor: pointer;
    }
}
.container {
    display: grid;
    grid-template-areas: 
    'nav'
    'section'
    'footer';
    grid-template-rows: 70px calc(100vh - 70px - 40px) 40px;
}

@media (width >= 567px) {

    .container {
        grid-template-areas: 
        'nav'
        'section'
        'footer';
        grid-template-rows: 70px calc(100vh - 70px - 50px) 50px;
    }
    .nav {
        flex-direction: row;
        
        .hamburger {
            display: none;
        }
        li a {
            padding: 0;
        }
        #menu-toggle {
            display: none;
        }
        .menu {
            display: flex;
            flex-direction: row;
        }
    }
    .card {
        min-width: 300px;
    }
}

@media (width >= 992px) {

    .container {
        grid-template-areas: 
        'nav section'
        'nav section'
        'footer section';
        grid-template-rows: 100px calc(100vh - 100px - 100px) 100px;
        grid-template-columns: 20vw auto;
    }
    .nav {
        flex-direction: column;
        justify-content: flex-start;

        h1 {
            font-size: 1.5em;
        }
        .menu {
            font-size: 1em;
            margin: 40px 0;
            flex-direction: column;
        }
    }
    footer{
        div {
            justify-content: space-around;
            align-items: flex-end;
            padding: 20px 0;
            gap: 5px;

            & button {
                display: flex;
            }
        }
    }
}